html {overflow-y: hidden; overflow: -moz-scrollbars-none; overflow-x: hidden; }
html, body {
	height:100%; 
	width:100%;
}
::selection {
    background-color: transparent;
}
hr { margin:0px; border:none; width:100%; border-top: 1px solid #E00060; color: #FFFFFF; background-color: #FFFFFF; height: 1px; }
*.unselectable {
}
.shadowblur{ 
box-shadow: 4px 4px 5px #000000; 
-webkit-box-shadow: 4px 4px 5px #000000;
-moz-box-shadow: 4px 4px 5px #000000; 
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000000, offX=4, offY=4, positive=true);
}
.shadowblurLight{ 
box-shadow: 2px 2px 3px #000000; 
-webkit-box-shadow: 2px 2px 3px #000000;
-moz-box-shadow: 2px 2px 3px #000000; 
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000000, offX=2, offY=2, positive=true);
}
.mozBorderRadius {
  -moz-border-radius: 3px;
}
.noOverflowX {
  overflow-x: hidden;
}
.font-weight-bold { font-weight: bold }
.font-weight-normal { font-weight: normal }
.font-weight-light { font-weight: light }
.font-family-arial { font-family: Arial, sans-serif; }
.font-family-times { font-family: times }
.font-family-verdana { font-family: verdana }
.font-family-georgia { font-family: georgia }
.font-family-garamond { font-family: garamond }
.font-family-calibri { font-family: calibri }
.font-family-courier { font-family: courier }
.font-family-helvetica { font-family: helvetica }
.font-family-lucinda { font-family: 'Lucinda Sans' }
.font-family-openSans { font-family: 'Open Sans' }
.font-underline { text-decoration: underline } 
.color-white { color: white }
.color-blue { color: blue }
.color-red { color: red }
.color-black { color: black }
.color-gray { color: gray }
.color-yellow { color: yellow }
.color-lightgray { color: #DDDDDD }
.color-green { color: green }
.color-lightgreen { color: #88FF88 }
.color-ultralightgray { color: #EEEEEE }
.background-color-white { background-color: white } 
.background-color-blue { background-color: blue }
.background-color-red { background-color: red }
.background-color-black { background-color: black }
.background-color-gray { background-color: gray }
.background-color-yellow { background-color: yellow }
.background-color-lightgray { background-color: #DDDDDD }
.background-color-green { background-color: green }
.background-color-lightgreen { background-color: #88FF88 }
.background-color-lightgray-white { background-color: #EEEEEE }
.border-color-white { border-color: white }
.border-color-blue { border-color: blue }
.border-color-red { border-color: red }
.border-color-black { border-color: black }
.border-color-gray { border-color: gray }
.border-color-yellow { border-color: yellow }
.border-color-lightgray { border-color: #DDDDDD }
.border-color-ultralightgray { border-color: #EEEEEE }
.border-color-green { border-color: green }
.border-color-lightgreen { border-color: #88FF88 }
.border-width-1 { border-width: 1 }
.border-width-2 { border-width: 2 }
.border-width-3 { border-width: 3 }
.border-width-4 { border-width: 4 }
.border-width-5 { border-width: 5 }
.border-width-6 { border-width: 6 }
.border-width-7 { border-width: 7 }
.border-width-8 { border-width: 8 }
.border-width-9 { border-width: 9 }
.border-width-10 { border-width: 10 }
.border-width-11 { border-width: 11 }
.border-width-12 { border-width: 12 }
.border-width-13 { border-width: 13 }
.border-width-14 { border-width: 14 }
.border-width-15 { border-width: 15 }
.border-width-16 { border-width: 16 }
.border-width-17 { border-width: 17 }
.border-width-18 { border-width: 18 }
.border-width-19 { border-width: 19 }
.border-width-20 { border-width: 20 }
.border-style-dashed { border-style: dashed } 
.border-style-solid { border-style: solid }
.border-style-dotted { border-style: dotted }
.cursor-wait { cursor: wait }
.cursor-pointer { cursor: pointer } 
.cursor-crosshair { cursor: crosshair }
.cursor-help { cursor: help }
.cursor-move { cursor: move } 
.wordWrapBreakAll { word-wrap: break-all; }
.nooutline { outline:none; }
.nooutlineIE { outline:expression(this.onFocus=this.blur()); }
.gwt-TextBox  { padding: 3px; }
.gwt-PasswordTextBox { padding: 3px; }
.gwt-Checkbox { color: black }
.gwt-Combobox-FXL { height: 24px; }
.gwt-RichTextArea { }
.gwt-Label-FXL { white-space: nowrap; }
.gwt-SuggestBoxPopup-FXL {
    background-color: white;
    border: 1px darkblue solid;
    padding: 2px;
}
.gwt-SplitLayoutPanel-HDragger { background-color: lightgray }
.scrollbar-container { position: absolute; top: 0; bottom: 0; left: 0;
right: 0; margin: 20px; border: 2px solid rgba(0, 0, 0, 0.2); overflow:
auto; background-color: whiteSmoke; } .scrollbar-container .inner {
height: 2011px; width: 1985px; padding: 1em; background-color: white;
 } ::-webkit-scrollbar { background: transparent;
} ::-webkit-scrollbar-corner { background: transparent; }
::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); border:
solid whiteSmoke 2px; } ::-webkit-scrollbar-thumb:hover {
background-color: rgba(0, 0, 0, 0.3); }
.gwt-TextInputBox  { border-bottom:none;padding:3px;margin-top:-2px;margin-bottom:-2px;background-color:transparent;border:none;height:23px;}
.gwttreetable { border-spacing:0px;table-layout:fixed;margin:1px; }
.gwttreecell { padding:0px;overflow:hidden;white-space:nowrap; }
.gwtlazytreetable { border-spacing:0px;width:100%;cursor:pointer;background-color:white; }
.gwtlazytreecell .td { text-align:left;vertical-align:middle; }
.gwtlazytreediv { white-space:nowrap;-moz-user-select:none;cursor:pointer;  }
.gwtlazytreeblock { position:relative;overflow:hidden;width:2px;height:1px; }
.gwtlazytreeindent { position:relative;overflow:hidden;height:1px; }
