html {overflow-y: hidden; overflow: -moz-scrollbars-none; overflow-x: auto; }
html, body {height:100%; width:100%;}
.font-size-1px { font-size: 1px }
.font-size-2px { font-size: 2px }
.font-size-3px { font-size: 3px }
.font-size-4px { font-size: 4px }
.font-size-5px { font-size: 5px }
.font-size-6px { font-size: 6px }
.font-size-7px { font-size: 7px }
.font-size-8px { font-size: 8px }
.font-size-9px { font-size: 9px }
.font-size-10px { font-size: 10px }
.font-size-11px { font-size: 11px }
.font-size-12px { font-size: 12px }
.font-size-13px { font-size: 13px }
.font-size-14px { font-size: 14px }
.font-size-15px { font-size: 15px }
.font-size-16px { font-size: 16px }
.font-size-17px { font-size: 17px }
.font-size-18px { font-size: 18px }
.font-size-19px { font-size: 19px }
.font-size-20px { font-size: 20px }
.font-size-21px { font-size: 21px }
.font-size-22px { font-size: 22px }
.font-size-23px { font-size: 23px }
.font-size-24px { font-size: 24px }
.font-size-25px { font-size: 25px }
.font-size-26px { font-size: 26px }
.font-size-27px { font-size: 27px }
.font-size-28px { font-size: 28px }
.font-size-29px { font-size: 29px }
.font-size-30px { font-size: 30px }
.font-weight-bold { font-weight: bold }
.font-weight-normal { font-weight: normal }
.font-weight-light { font-weight: light }
.font-family-arial { font-family: arial }
.font-family-times { font-family: times }
.font-family-verdana { font-family: verdana }
.font-family-georgia { font-family: georgia }
.font-family-garamond { font-family: garamond }
.font-family-calibri { font-family: calibri }
.font-family-courier { font-family: courier }
.font-family-helvetica { font-family: helvetica }
.font-family-lucinda { font-family: 'Lucinda Sans' }
.font-underline { text-decoration: underline } 
.color-white { color: white }
.color-blue { color: blue }
.color-red { color: red }
.color-black { color: black }
.color-gray { color: gray }
.color-yellow { color: yellow }
.color-lightgray { color: #DDDDDD }
.color-green { color: green }
.color-lightgreen { color: #88FF88 }
.color-ultralightgray { color: #EEEEEE }
.background-color-white { background-color: white } 
.background-color-blue { background-color: blue }
.background-color-red { background-color: red }
.background-color-black { background-color: black }
.background-color-gray { background-color: gray }
.background-color-yellow { background-color: yellow }
.background-color-lightgray { background-color: #DDDDDD }
.background-color-green { background-color: green }
.background-color-lightgreen { background-color: #88FF88 }
.background-color-lightgray-white { background-color: #EEEEEE }
.border-color-white { border-color: white }
.border-color-blue { border-color: blue }
.border-color-red { border-color: red }
.border-color-black { border-color: black }
.border-color-gray { border-color: gray }
.border-color-yellow { border-color: yellow }
.border-color-lightgray { border-color: #DDDDDD }
.border-color-ultralightgray { border-color: #EEEEEE }
.border-color-green { border-color: green }
.border-color-lightgreen { border-color: #88FF88 }
.border-width-1 { border-width: 1 }
.border-width-2 { border-width: 2 }
.border-width-3 { border-width: 3 }
.border-width-4 { border-width: 4 }
.border-width-5 { border-width: 5 }
.border-width-6 { border-width: 6 }
.border-width-7 { border-width: 7 }
.border-width-8 { border-width: 8 }
.border-width-9 { border-width: 9 }
.border-width-10 { border-width: 10 }
.border-width-11 { border-width: 11 }
.border-width-12 { border-width: 12 }
.border-width-13 { border-width: 13 }
.border-width-14 { border-width: 14 }
.border-width-15 { border-width: 15 }
.border-width-16 { border-width: 16 }
.border-width-17 { border-width: 17 }
.border-width-18 { border-width: 18 }
.border-width-19 { border-width: 19 }
.border-width-20 { border-width: 20 }
.border-style-dashed { border-style: dashed } 
.border-style-solid { border-style: solid }
.border-style-dotted { border-style: dotted }
.cursor-wait { cursor: wait }
.cursor-pointer { cursor: pointer } 
.cursor-crosshair { cursor: crosshair }
.cursor-help { cursor: help }
.cursor-move { cursor: move } 
.gwt-TextBox-FXL { padding: 3px; }
.gwt-PasswordTextBox-FXL { padding: 3px; }
.gwt-Checkbox-FXL { }
.gwt-Combobox-FXL { }
.gwt-TextArea-FXL { padding: 3px; }
.gwt-Label-FXL { white-space: nowrap; }
.gwt-ToggleButton-FXL { }
.gwt-RadioButton-FXL { }
