table.bulktable {
	font-family: arial;
	font-size: 12px;
}

table.bulktableCell tr td {
	border-bottom: 1px solid lightgray;
}

tr.headerRow td {
	background-color: #BBBBBB;
}

.bulktableCell0 {
	font-size: 15px;
	font-weight: bold;
}

tr.highlight td {
	background-color: #EEEEEE;
}

.overflow-hidden {
	overflow: hidden;
}